{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
      $('a#add').bind('click', function() {
        $.getJSON('/addpokemon_to_db',
            function(data) {
          //do nothing
        });
        return false;
      });
    });
</script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('pokedex_index.index') }}">Pokedex</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <form method="POST">
            Pokemon Name:
            <input type="text" name="Pokemon_Name" placeholder="e.g., pikachu, ditto...">
                
            <input type="submit" value="Search">
        </form>
        <table class="table table-striped">



                <tr><th>Name</th><th>Image</th>  <th>Specia Move</th>  <th>Description</th>         </tr>
                    <tr><td> <b>{{ species }}</b></a> </td> <td><img src={{ picture }}></td> <td>{{ moves }}</td> <td>{{ Description }}</td>  </tr>
        
                    </table>

    </div>
    
{% endblock %}